*,
* ::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: lightgray;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20rem;
}

h1 {
    text-align: center;
}